<button id="add-to-fav" class="shopify-payment-button__button shopify-payment-button__button--unbranded">Add to Favourite</button>

{% schema %}
{
  "name": "Favourite",
  "target": "section",
  "stylesheet": "styles.css",
  "javascript": "scripts.js",
  "settings": [
    
  ]
}
{% endschema %}
